<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723009143045-302103jmiq5hk65gmh7aodv7nthbpgj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723009143045-302103jmiq5hk65gmh7aodv7nthbpgj5</string>
	<key>API_KEY</key>
	<string>AIzaSyBRI9hk4G8eZ0lReBUln-3oP-r0qnR1li4</string>
	<key>GCM_SENDER_ID</key>
	<string>723009143045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-697ec</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-697ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723009143045:ios:e18faddcbf2dfe0295b76c</string>
</dict>
</plist>